.shimmery {
    width: 100px;
    height: 100px;
    background: red;
    animation: colorshimery 3s infinite;
}

@keyframes colorshimery {
    0% {
        background: red
    }
    100% {
        background: red
    }

    50% {
        background: yellow;
    }
}

.red {
    width: 100px;
    height: 100px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: changesize 8s infinite;
}

.yellow {
    width: 10px;
    height: 10px;
    background-color: yellow;
    animation: changesize_two 8s infinite;
  
}




@keyframes changesize {
    20% { transform: scale(0.5);
    }

    60% {
        transform: scale(1);
        background: yellow;
    }
    80% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
        background: red;
    }

}

@keyframes changesize_two {
    20% {
        transform: scale(10);
    }

    60% {
        transform: scale(1);
        background: red;

    }

    80% {
        transform: scale(10);
    }

    100% {
        transform: scale(1);
        background: yellow;
    }
}



